
.G63{
    display: flex;
    margin-left: 45px;
}

.A{
    margin-right: 45px;
}

.q{
    display: flex;
    margin-left: 45px;
}
.Alo{
    margin-right: 375px;
}
.l{
    margin-right: 400px; 
}
.s{
    margin-right: 500px; 
}
.d{
    margin-right: 550px; 
}
.f{
    margin-right: 525px; 
}
.g{
    margin-right: 450px; 
}
.video{
    margin-right: 150px;
}


