.G63{
    display: flex;
    margin-left: 45px;
}

.A{
    margin-right: 45px;

}

.q{
    display: flex;
    margin-left: 45px;
}
.Alo{
    margin-right: 430px;
}
.l{
    margin-right: 395px; 
}
.s{
    margin-right: 500px; 
}
.d{
    margin-right: 540px; 
}
.f{
    margin-right: 525px; 
}
.g{
    margin-right: 460px; 
}
.k{
    margin-right: 150px; 
}
